<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotecomercio</title>
    <link rel="stylesheet" href="../../static/VistaPrincipalCliente.css">
</head>
<body>

    <div class="navbar-top">
    <img src="../../static/fotos/logo_mascotmercio.png" alt="Logo" class="login-logo">
   
    </div>

    <div class="sidebar">
        <!-- Botones de la barra lateral -->
        <button class="sidebar-btn">Inicio</button>
        <button class="sidebar-btn">Mi perfil</button>
        <button class="sidebar-btn">Establecimientos favoritos</button>
        <button class="sidebar-btn">Establecimientos mejor valorados</button>
        <button class="sidebar-btn">Cerrar sesión</button>
        <!-- Más botones si es necesario -->
    </div>

    <div class="main-content">
        <div class="search-bar">
            ¡Busca tu establecimiento más cercano!
            <input type="text" placeholder="Introduce tu dirección">
            <button>Buscar</button>
        </div>
        <div class="map-container">
            <!-- Aquí iría el mapa interactivo, o una imagen de mapa de ejemplo -->
        </div>
    </div>

</body>
</html>
