<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Perfil</title>
    <link rel="stylesheet" href="/ModificarPerfil.css"> 
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <link href="/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-top">
        <img src="/fotos/logo_mascotmercio.png" alt="Logo" class="login-logo">
       
        </div>
    
        <div class="sidebar">
            <a href="/propietario" id="inicioBoton" class="sidebar-btn">Inicio</a>
            <a href="/propietario/perfil" class="sidebar-btn">Mi perfil</a>
            <a href="/propietario/establecimiento" class="sidebar-btn">Mis establecimientos</a>
            <a href="/" id="cerrarBoton" class="sidebar-btn">Cerrar sesión</a>
        </div>

    <div class="main-content">
        <h2 class="modify-profile-title">MODIFICAR PERFIL</h2>
        <div class="profile-container container-fluid">
            <div class="form-section left">
              <label for="nombre">Nombre</label>
              <input class="form-control" type="text" id="nombre" />
    
              <label for="email">Email</label>
              <input class="form-control" type="email" id="email" />
    
              <label for="fechanacimiento">Fecha de nacimiento</label>
              <input class="form-control" type="date" id="fechanacimiento" />
            </div>
            <div class="form-section right">
              <label for="apellidos">Apellido</label>
              <input class="form-control" type="text" id="apellidos" />
    
              <label for="contraseña">Contraseña</label>
              <input class="form-control" type="password" id="contraseña" />
    
              <button
                class="btn btn-outline-primary mt-4"
                onclick="actualizarPerfil()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
    
        <script src="/jquery.min.js"></script>
        <script src="/toastr.min.js"></script>
        <script>
          $(document).ready(function () {
            $.get(
              "http://localhost:8080/api/usuario/" + sessionStorage.getItem("userId"),
              function (data) {
                $("#nombre").val(data.nombre);
                $("#apellidos").val(data.apellidos);
                $("#email").val(data.email);
                $("#contraseña").val(data.contraseña);
                $("#fechanacimiento").val(data.fechanacimiento);
              }
            );
          });
    
          function actualizarPerfil() {
            if ($("#nombre").val() == "") toastr.warning("Introduce tu nombre");
            else if ($("#apellidos").val() == "") toastr.warning("Introduce tus apellidos");
            else if ($("#email").val() == "") toastr.warning("Introduce tu email");
            else if ($("#contraseña").val() == "") toastr.warning("Introduce tu contraseña");
            else if ($("#fechanacimiento").val() == "") toastr.warning("Introduce tu fecha de nacimiento");
            else {
              let tranData = {
                nombre: $("#nombre").val(),
                apellidos: $("#apellidos").val(),
                email: $("#email").val(),
                contraseña: $("#contraseña").val(),
                fechanacimiento: $("#fechanacimiento").val(),
                memberType:
                  sessionStorage.getItem("member") == "cliente" ? false : true,
              };
              $.ajax({
                url:
                  "http://localhost:8080/api/usuario/" +
                  sessionStorage.getItem("userId"), // URL del endpoint
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(tranData), // Datos a enviar al backend
                success: function (response) {
                  toastr.info("Perfil modificado");
                },
                error: function (xhr, status, error) {
                  toastr.error("Error sending data:", error);
                },
              });
            }
          }
        </script>
      </body>
    </html>
