<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro de Usuario - MascotComercio</title>
<link rel="stylesheet" href="/RegistroCliente.css">
</head>
<body>

<div class="contenedor">
    <h2>REGÍSTRESE</h2>
    <form id="formularioRegistro" action="/registro" method="post">
        <div class="fila">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
        </div>
        <div class="fila">
            <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <div class="fila">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
        </div>
        <div class="fila">
            <label>
                <input type="radio" name="tipoUsuario" value="cliente" checked> CLIENTE
            </label>
            <label>
                <input type="radio" name="tipoUsuario" value="propietario"> PROPIETARIO
            </label>
        </div>
        <div class="fila condiciones">
            <label>
                <input type="checkbox" name="terminos" required> Acepto los términos y condiciones de uso
            </label>
        </div>
        <div class="fila">
            <button type="submit" id="botonRegistrarse">Registrarse</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('formularioRegistro').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente
        // Redirecciona a la página principal
        window.location.href = '/';
    });
</script>


</body>
</html>
